@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');

.main_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100vh;

    img{
        width: 70%;
    }

    p{
        margin-top: 0;
        font-family: 'Overpass';
        font-weight: 500;
        font-size: 48px;
        color: #ca9172;
    }
    .buttons_wrapper{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        position: relative;
        *:first-child{
                font-family: 'Overpass';
                font-size: 40px;
            }
         *:last-child{
            font-size: 15px;
            height: 30px;
         }   

        button{
            background-color: #b5838d;
            font-size: large;
            color: #ffcdb2;
            border: none;
            border-radius: 14px;
            position: relative;
        }
    }
}